a{
    color:#333;
}
a:active{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}
.text-muted {
    color: #777777;
  }
  .text-primary {
    color: #337ab7;
  }
  a.text-primary:hover,
  a.text-primary:focus {
    color: #286090;
  }
  .text-success {
    color: #3c763d;
  }
  a.text-success:hover,
  a.text-success:focus {
    color: #2b542c;
  }
  .text-info {
    color: #999;
  }
  a.text-info:hover,
  a.text-info:focus {
    color: #999;
  }
  .text-warning {
    color: #8a6d3b;
  }
  a.text-warning:hover,
  a.text-warning:focus {
    color: #66512c;
  }
  .text-danger {
    color: #a94442;
  }
  a.text-danger:hover,
  a.text-danger:focus {
    color: #843534;
  }
  .bg-primary {
    color: #fff;
    background-color: #337ab7;
  }
  a.bg-primary:hover,
  a.bg-primary:focus {
    background-color: #286090;
  }
  .bg-success {
    background-color: #dff0d8;
  }
  a.bg-success:hover,
  a.bg-success:focus {
    background-color: #c1e2b3;
  }
  .bg-info {
    background-color: #d9edf7;
  }
  a.bg-info:hover,
  a.bg-info:focus {
    background-color: #afd9ee;
  }
  .bg-warning {
    background-color: #fcf8e3;
  }
  a.bg-warning:hover,
  a.bg-warning:focus {
    background-color: #f7ecb5;
  }
  .bg-danger {
    background-color: #f2dede;
  }
  a.bg-danger:hover,
  a.bg-danger:focus {
    background-color: #e4b9b9;
  }

.mr5{
    margin-right: 5px;
}
.mr10{
    margin-right: 10px;
}
.mr15{
    margin-right: 15px;
}
.mr20{
    margin-right: 20px;
}
.mr25{
    margin-right: 25px;
}
.mr30{
    margin-right: 30px;
}

.mt5{
    margin-top: 5px;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mt20{
    margin-top: 20px;
}
.mt25{
    margin-top: 25px;
}
.mt30{
    margin-top: 30px;
}

.mb5{
    margin-bottom: 5px;
}
.mb10{
    margin-bottom: 10px;
}
.mb15{
    margin-bottom: 15px;
}
.mb20{
    margin-bottom: 20px;
}
.mb25{
    margin-bottom: 25px;
}
.mb30{
    margin-bottom: 30px;
}

.ml5{
    margin-left: 5px;
}
.ml10{
    margin-left: 10px;
}
.ml15{
    margin-left: 15px;
}
.ml20{
    margin-left: 20px;
}
.ml25{
    margin-left: 25px;
}
.ml30{
    margin-left: 30px;
}


.pdr5{
    padding-right: 5px;
}
.pdr10{
    padding-right: 10px;
}
.pdr15{
    padding-right: 15px;
}
.pdr20{
    padding-right: 20px;
}
.pdr25{
    padding-right: 25px;
}
.pdr30{
    padding-right: 30px;
}

.pdt5{
    padding-top: 5px;
}
.pdt10{
    padding-top: 10px;
}
.pdt15{
    padding-top: 15px;
}
.pdt20{
    padding-top: 20px;
}
.pdt25{
    padding-top: 25px;
}
.pdt30{
    padding-top: 30px;
}

.pdb5{
    padding-bottom: 5px;
}
.pdb10{
    padding-bottom: 10px;
}
.pdb15{
    padding-bottom: 15px;
}
.pdb20{
    padding-bottom: 20px;
}
.pdb25{
    padding-bottom: 25px;
}
.pdb30{
    padding-bottom: 30px;
}

.pdl5{
    padding-left: 5px;
}
.pdl10{
    padding-left: 10px;
}
.pdl15{
    padding-left: 15px;
}
.pdl20{
    padding-left: 20px;
}
.pdl25{
    padding-left: 25px;
}
.pdl30{
    padding-left: 30px;
}

/*** 字体自适应 ***/
.font-16{
    font-size: 16px;
}
.font-18 {
    font-size:18px;
}
.font-20 {
    font-size:20px;
}
.font-24 {
    font-size:24px;
}
.font-28 {
    font-size:28px;
}
li,ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/***浏览器识别***/

.browser-header{
    height: 100px;
    padding-top: 25px;
    background: #fff;
}
.browser-body{
    color: #fff;
    line-height: 200%;
}
.browser-body .mt100{
    margin-top: 100px;
}
.browser-list a{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    margin: 0 10px;
}
.browser-list img{
    margin-bottom: 10px;
} 

/***图标***/
.icon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -2px;
}
.icon-node{
    width : 18px;
	height : 18px;
	background: url('../images/icon/icon-node.svg') left top no-repeat;
}


body{
    background-color: #F1F1F1;
}
.header{
    background-color: #fff;
    height: 90px;
}
.header .logo{
    margin-top: 21px;
    margin-left: 30px;
}
.menu ul{
    list-style: none;
    margin-top: 27px;
}
.menu li{
    float: left;
    list-style: none;
    margin-right: 15px;
}
.menu li a{
    display: block;
    font-size : 16px;
    min-width : 100px;
    line-height: 36px;
    height: 36px;
    text-align: center;
    border-radius:4px;
    color: #000;
    -webkit-transition: background-color 0.5s ease 0s;
    -o-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s;
}
.menu li.active a,.menu li a:hover{
    background-color: #0967D9;
    color: #fff;
    text-decoration: none;
}

.page-container{
    margin: 0 auto;
    width: 1336px;
}

.page-banner{
    position: relative;
    height: 180px;
    overflow: hidden;
}
.page-banner img{
    position: absolute;
    left : 50%;
    margin-left: -960px;
}
.aside{
    width: 226px;
    padding-bottom: 50px;
    float: left;
    min-height: 300px;
    background : url('../images/bg-aside.png') no-repeat left bottom;
    background-color: #134683;
}
.aside .title{
    background : url('../images/bg-aside-title.png') no-repeat left top;
    width: 249px;
    height: 112px;
    font-size:24px;
    font-weight:bold;
    color:#fff;
    line-height:31px;
    padding: 38px 0 0 28px;
    margin-top: -80px;
    position: relative;
    z-index : 1;
    margin-bottom: 20px;
}
.aside .nav a{
    display: block;
    height: 50px;
    color: #fff;
    line-height: 50px;
    padding-left: 30px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.aside .nav a:hover{
    background-color: #113E75;
    text-decoration: none;
}
.aside .nav .active a{
    background-color: #0967D9;
    cursor: default;
}

.footer{
    background-color: #022651;
    height: 80px;
    line-height: 80px;
    color: #fff;
    padding : 0 30px;
}
.footer a{
    color: #fff;
}
.footer .gap-1{
    margin-right: 60px;
}
.footer .gap-2{
    margin-right: 30px;
}
.main{
    background-color: #fff;
}
.content{
    float: right;
    width: 1110px;
    padding : 0 20px 0 45px;
}
.content-title {
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #ddd;
}
.content-title .text{
    font-size:24px;
    font-weight:bold;
    color:#333;
    position: relative;
    margin-right: 50%;
}
.content-title .line{
    position: absolute;
    width:44px;
    height:4px;
    background:#CC0807;
    bottom : 1px;
    left : 0;
}
.bread-crumb{
    color: #000;
}
.bread-crumb a , .bread-crumb span{
    color: #999;
}
.bread-crumb .gap{
    margin: 0 5px;
}
.content-container{
    padding : 20px 0 40px;
}

.news-list a{
    display: block;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    overflow: hidden;
}
.news-list .t{
    font-size : 16px;
}
.news-list a:hover {
    padding : 0 15px;
    text-decoration: none;
    background-color: #fafafa;
}
.news-list .text-info{
    padding-left: 20px;
}
.news-list a:hover .t{
    color:#1069D5;
}
.pagination>li>a, .pagination>li>span{
    margin-right: 8px;
    border-radius: 2px ;
    padding : 4px 10px;
    border-color: #eee;
    color: #333;
}
.pagination>li .total{
    float: left;
    position: relative;
    margin-right: 16px;
    margin-left: 8px;
}
.pagination>li .total input{
    width:30px;
    height:30px;
    background:rgba(255,255,255,1);
    border-radius:2px;
    border:1px solid rgba(238,238,238,1);
    text-align: center;
}
.pagination>li a:hover{
    border : 1px solid #0967D9;
    color: #0967D9;
    background-color: #fff;
}
.pagination>li.disabled a{
    color: #999;
}
.pagination>li.active a{
    color: #fff;
    background-color: #0967D9;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.editor{
    line-height: 180%;
}
.editor p{
    margin-bottom: 18px;
}
.editor img{
    max-width: 98%;
}
.editor ul,.editor li{
    list-style: inherit;
}
.editor ul li{
    margin-left: 20px;
}
.editor ol li{
    margin-left: 0;
}
.leader-list{
    margin-left: -40px;
}
.leader-list li{
    width: 230px;
    float: left;
    margin-left: 40px;
    margin-bottom: 5px;
}
.leader-list .img{
    line-height: 300px;
    text-align: center;
}
.leader-list .img img{
    max-width: 230px;
    max-height: 300px;
}
.leader-list .name{
    margin: 15px 0 10px;
    width:54px;
    height:24px;
    font-size:18px;
    font-weight:bold;
}
.leader-list .info{
    height: 80px;
    line-height: 20px;
    overflow: hidden;
}
.year-plan-list {
    margin-left: -44px;
}
.year-plan-list li{
    width:230px;
    height:280px;
    float: left;
    margin-left: 42px;
    margin-bottom: 30px;
}
.year-plan-list li a{
    display: block;
    height:278px;
    width: 228px;
    padding : 0 30px;
    background:rgba(255,255,255,1);
    border:1px solid #ddd;
    float: left;
    text-align: center;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.year-plan-list li span{
    display: block;
}
.year-plan-list .year{
    margin-top: 50px;
    font-size:24px;
}
.year-plan-list .sub{
    height : 150px;
}
.year-plan-list li a:hover{
    margin-top: -5px;
    text-decoration: none;
    border-color:#bbb;
    box-shadow: 1px 1px 5px #ccc;
    margin-bottom: 35px;
}
.year-report-list .year{
    margin-top: 50px;
    margin-bottom: 5px;
    font-size:16px;
}
.year-report-list .sub{
    font-size:18px;
    font-weight:bold;
}
.year-plan-list li:hover a{
    text-decoration: none;
}
.history-list li{
    position: relative;
    min-height: 120px;
    padding-bottom: 30px;
}
.history-list li .info{
    width: 50%;
    text-align: right;
}
.history-list li .wrap{
    padding-right: 27px;
}
.history-list .line{
    width:2px;
    background-color: #134683;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    bottom :0;
    top : 0 ;
    z-index : 1;
}
.history-list li .pic{
    position: absolute;
    left : 50%;
    top : 0;
}
.history-list li .arrow{
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    background-color: #ddd;
    position: absolute;
    left : 23px;
    z-index: 1;
    top : 5px;
}
.history-list li .pic img{
    margin-left: 25px;
    max-width: 300px;
    max-height: 140px;
    border: 1px solid #ddd;
    padding : 2px;
    background-color: #fff;
    position: relative;
    z-index: 2;
}
.history-list li .text{
    color: #999;
}
.history-list li .icon-node{
    margin-left: -9px;
    position: absolute;
    left: 50%;
    z-index: 2;
    top : 1px;
}
.history-list .year {
    font-size:24px;
    font-weight: bold;
    margin-bottom: 15px;
}
.history-list .month {
    padding-bottom: 18px;
}
.history-list .month .t {
    font-size:16px;
}
.history-list li:nth-child(even) .info{
    margin-left: 50%;
    width: 50%;
    text-align: left;
}
.history-list li:nth-child(even) .wrap{
    padding-left: 27px;
}
.history-list li:nth-child(even) .pic{
    right : 50%;
    left : auto;
}
.history-list li:nth-child(even) .pic img{
    margin-right: 25px;
}
.history-list li:nth-child(even) .arrow{
    left : auto;
    right :  23px;
}

.history-list .now{
    position: relative;
    text-align: center;
    padding-bottom: 45px;
    font-size: 16px;
}
.history-list .now .icon-node-empty{
    bottom : 23px;
}
.history-list .now .line{
    top : auto;
    height: 30px;
    bottom :0;
}
.history-list .icon-node-empty{
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    border-radius: 50%;
    left : 50%;
    margin-left: -8px;
    z-index : 2;
    background-color: #fff;
}
.history-list .end{
    position: relative;
}
.about-img-view .views img{
    max-width: 100%;
    max-height: 382px;
}
.about-img-view .views{
    height: 382px;
    line-height: 382px;
    text-align: center;
}
.about-img-view .thumbs{
    margin: 10px 0 30px;
    font-size:0;
}
.about-img-view .thumbs a{
    display: inline-block;
    margin-right: 10px;
    font-size : 0;
}
.about-img-view .thumbs img{
    max-width:96px;
    max-height:54px;
    opacity: .7;
}
.about-img-view .thumbs .active img{
    opacity: 1;
}
.honor-list{
    margin-left: -12px;
}
.honor-list .item{
    float: left;
    width: 516px;
    margin-left: 12px;
}
.honor-list .title{
    padding : 20px;
    text-align: center;
    background-color: #F3F3F3;
    text-align: center;
}