a{
    color:#333;
}
a:active{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}
.text-muted {
    color: #777777;
  }
  .text-primary {
    color: #337ab7;
  }
  a.text-primary:hover,
  a.text-primary:focus {
    color: #286090;
  }
  .text-success {
    color: #3c763d;
  }
  a.text-success:hover,
  a.text-success:focus {
    color: #2b542c;
  }
  .text-info {
    color: #999;
  }
  a.text-info:hover,
  a.text-info:focus {
    color: #999;
  }
  .text-warning {
    color: #8a6d3b;
  }
  a.text-warning:hover,
  a.text-warning:focus {
    color: #66512c;
  }
  .text-danger {
    color: #a94442;
  }
  a.text-danger:hover,
  a.text-danger:focus {
    color: #843534;
  }
  .bg-primary {
    color: #fff;
    background-color: #337ab7;
  }
  a.bg-primary:hover,
  a.bg-primary:focus {
    background-color: #286090;
  }
  .bg-success {
    background-color: #dff0d8;
  }
  a.bg-success:hover,
  a.bg-success:focus {
    background-color: #c1e2b3;
  }
  .bg-info {
    background-color: #d9edf7;
  }
  a.bg-info:hover,
  a.bg-info:focus {
    background-color: #afd9ee;
  }
  .bg-warning {
    background-color: #fcf8e3;
  }
  a.bg-warning:hover,
  a.bg-warning:focus {
    background-color: #f7ecb5;
  }
  .bg-danger {
    background-color: #f2dede;
  }
  a.bg-danger:hover,
  a.bg-danger:focus {
    background-color: #e4b9b9;
  }

.mr5{
    margin-right: 5px;
}
.mr10{
    margin-right: 10px;
}
.mr15{
    margin-right: 15px;
}
.mr20{
    margin-right: 20px;
}
.mr25{
    margin-right: 25px;
}
.mr30{
    margin-right: 30px;
}
.mr50{
    margin-right: 50px;
}

.mt5{
    margin-top: 5px;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mt20{
    margin-top: 20px;
}
.mt25{
    margin-top: 25px;
}
.mt30{
    margin-top: 30px;
}

.mb5{
    margin-bottom: 5px;
}
.mb10{
    margin-bottom: 10px;
}
.mb15{
    margin-bottom: 15px;
}
.mb20{
    margin-bottom: 20px;
}
.mb25{
    margin-bottom: 25px;
}
.mb30{
    margin-bottom: 30px;
}

.ml5{
    margin-left: 5px;
}
.ml10{
    margin-left: 10px;
}
.ml15{
    margin-left: 15px;
}
.ml20{
    margin-left: 20px;
}
.ml25{
    margin-left: 25px;
}
.ml30{
    margin-left: 30px;
}


.pdr5{
    padding-right: 5px;
}
.pdr10{
    padding-right: 10px;
}
.pdr15{
    padding-right: 15px;
}
.pdr20{
    padding-right: 20px;
}
.pdr25{
    padding-right: 25px;
}
.pdr30{
    padding-right: 30px;
}

.pdt5{
    padding-top: 5px;
}
.pdt10{
    padding-top: 10px;
}
.pdt15{
    padding-top: 15px;
}
.pdt20{
    padding-top: 20px;
}
.pdt25{
    padding-top: 25px;
}
.pdt30{
    padding-top: 30px;
}

.pdb5{
    padding-bottom: 5px;
}
.pdb10{
    padding-bottom: 10px;
}
.pdb15{
    padding-bottom: 15px;
}
.pdb20{
    padding-bottom: 20px;
}
.pdb25{
    padding-bottom: 25px;
}
.pdb30{
    padding-bottom: 30px;
}

.pdl5{
    padding-left: 5px;
}
.pdl10{
    padding-left: 10px;
}
.pdl15{
    padding-left: 15px;
}
.pdl20{
    padding-left: 20px;
}
.pdl25{
    padding-left: 25px;
}
.pdl30{
    padding-left: 30px;
}

/*** 字体自适应 ***/
.font-16{
    font-size: 16px;
}
.font-18 {
    font-size:18px;
}
.font-20 {
    font-size:20px;
}
.font-24 {
    font-size:24px;
}
.font-28 {
    font-size:28px;
}
li,ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/***浏览器识别***/

.browser-header{
    height: 100px;
    padding-top: 25px;
    background: #fff;
}
.browser-body{
    color: #fff;
    line-height: 200%;
}
.browser-body .mt100{
    margin-top: 100px;
}
.browser-list a{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    margin: 0 10px;
}
.browser-list img{
    margin-bottom: 10px;
} 

/***图标***/
.icon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -2px;
}
.icon-node{
    width : 18px;
	height : 18px;
	background: url('../images/icon/icon-node.svg') left top no-repeat;
}
.icon-media{
    width : 62px;
	height : 62px;
	background: url('../images/icon/icon-media.svg') left top no-repeat;
}
.icon-arrow-down{
    width : 18px;
	height : 18px;
	background: url('../images/icon/icon-arrow-down.svg') left top no-repeat;
}
.active .icon-arrow-down{
	background: url('../images/icon/icon-arrow-down-active.svg') left top no-repeat;
}
.icon-mark{
    width:43px;
    height:34px;
    background: url('../images/icon/icon-mark.svg') left top no-repeat;
}
.icon-pic-arrow-up,.icon-pic-arrow-down{
    width:220px;
    height:30px;
    background: url('../images/icon/icon-pic-arrow-top.svg') left top no-repeat;
}
.icon-select-arrow{
    width:11px;
    height:11px;
    background: url('../images/icon/icon-select-arrow.svg') left top no-repeat;
}

.icon-pic-arrow-down{
    background: url('../images/icon/icon-pic-arrow-down.svg') left top no-repeat;
}

.icon-ele-guide{
    width: 50px;
    height: 50px;
    margin-right: 0;
}
.icon-ele-guide-1{
    background: url('../images/icon/icon-ele-guide-1.svg') left top no-repeat;
}
.icon-ele-guide-2{
    background: url('../images/icon/icon-ele-guide-2.svg') left top no-repeat;
}
.icon-ele-guide-3{
    background: url('../images/icon/icon-ele-guide-3.svg') left top no-repeat;
}
.icon-ele-guide-4{
    background: url('../images/icon/icon-ele-guide-4.svg') left top no-repeat;
}
.icon-ele-guide-5{
    background: url('../images/icon/icon-ele-guide-5.svg') left top no-repeat;
}
.icon-ele-guide-6{
    background: url('../images/icon/icon-ele-guide-6.svg') left top no-repeat;
}
.icon-ele-guide-7{
    background: url('../images/icon/icon-ele-guide-7.svg') left top no-repeat;
}
.icon-ele-guide-8{
    background: url('../images/icon/icon-ele-guide-8.svg') left top no-repeat;
}
.icon-borrow,.icon-back{
    width:20px;
    height:24px;
    background: url('../images/icon/icon-borrow.svg') left top no-repeat;
}
.icon-back{
    background: url('../images/icon/icon-back.svg') left top no-repeat;
}
.icon-about-guide{
    width: 50px;
    height: 50px;
}
.icon-about-guide-1{
    background: url('../images/icon/icon-about-guide-1.svg') center center no-repeat;
}
.icon-about-guide-2{
    background: url('../images/icon/icon-about-guide-2.svg') center center no-repeat;
}
.icon-about-guide-3{
    background: url('../images/icon/icon-about-guide-3.svg') center center no-repeat;
}
.icon-about-guide-4{
    background: url('../images/icon/icon-about-guide-4.svg') center center no-repeat;
}
.icon-about-guide-5{
    background: url('../images/icon/icon-about-guide-5.svg') center center no-repeat;
}
.icon-about-guide-6{
    background: url('../images/icon/icon-about-guide-6.svg') center center no-repeat;
}
.icon-about-guide-7{
    background: url('../images/icon/icon-about-guide-7.svg') center center no-repeat;
}
.icon-about-guide-8{
    background: url('../images/icon/icon-about-guide-8.svg') center center no-repeat;
}
.icon-round-arrow{
    margin-right: 0;
    width: 70px;
    height: 70px;
    background: url('../images/icon/icon-round-arrow.svg') center center no-repeat;
}

.icon-more{
    width:16px;
    height:16px;
    border:1px solid #ddd;
    text-align: center;
    line-height: 14px;
    color: #0967D9;
    font-style: normal;
}
.icon-pic{
    margin-right: 12px;
    width:24px;
    height:18px;
    background: url('../images/icon/icon-pic.svg') left top no-repeat;
}
.icon-play-title{
    margin-right: 12px;
    width:24px;
    height:21px;
    background: url('../images/icon/icon-play-title.svg') left top no-repeat;
}
.icon-notice-title{
    margin-right: 12px;
    width:24px;
    height:19px;
    background: url('../images/icon/icon-notice-title.svg') left top no-repeat;
}
.icon-swiper-arrow-left,.icon-swiper-arrow-right{
    width: 16px;
    height: 100px;
    line-height: 100px;
    margin-right: 0;
    background: url('../images/icon/icon-swiper-arrow-left.svg') left center no-repeat;
}
.icon-swiper-arrow-right{
    background: url('../images/icon/icon-swiper-arrow-right.svg') left center no-repeat;
}
.icon-play-min{
    margin-right: 0;
    width:35px;
    height:35px;
    background: url('../images/icon/icon-play-min.svg') left top no-repeat;
}
.icon-point-primary,.icon-point-primary-lg{
    margin-right: 0;
    border-radius: 50%;
    background-color: #FF8124;
    width: 4px;
    height: 4px;
}
.icon-point-primary-lg{
    margin-right: 8px;
    width: 8px;
    height: 8px;
}
.icon-notice{
    width:16px;
    height:16px;
    background: url('../images/icon/icon-notice.svg') left top no-repeat;
}

body{
    background-color: #F1F1F1;
}
.header{
    background-color: #fff;
    height: 90px;
}
.header .logo{
    margin-top: 21px;
    margin-left: 30px;
}
.menu ul{
    list-style: none;
    margin-top: 27px;
}
.menu li{
    float: left;
    list-style: none;
    margin-right: 15px;
}
.menu li a{
    display: block;
    font-size : 16px;
    min-width : 100px;
    line-height: 36px;
    height: 36px;
    text-align: center;
    border-radius:4px;
    color: #000;
    -webkit-transition: background-color 0.5s ease 0s;
    -o-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s;
}
.menu li.active a,.menu li a:hover{
    background-color: #0967D9;
    color: #fff;
    text-decoration: none;
}
.menu dl{
    background-color: #FF033067;
}
.page-container{
    margin: 0 auto;
    width: 1336px;
}

.page-banner{
    position: relative;
    height: 180px;
    overflow: hidden;
}
.page-banner img{
    position: absolute;
    left : 50%;
    margin-left: -960px;
}
.aside{
    width: 226px;
    padding-bottom: 50px;
    float: left;
    min-height: 300px;
    background : url('../images/bg-aside.png') no-repeat left bottom;
    background-color: #134683;
}
.aside .title{
    background : url('../images/bg-aside-title.png') no-repeat left top;
    width: 249px;
    height: 112px;
    font-size:24px;
    font-weight:bold;
    color:#fff;
    line-height:31px;
    padding: 38px 0 0 28px;
    margin-top: -80px;
    position: relative;
    z-index : 1;
    margin-bottom: 20px;
}
.aside .nav li>a{
    display: block;
    height: 50px;
    color: #fff;
    line-height: 50px;
    padding-left: 30px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.aside .nav li>a:hover{
    background-color: #113E75;
    text-decoration: none;
}
.aside .nav li.active>a{
    background-color: #0967D9;
    cursor: default;
}
.aside dl{
    background-color: #033067;
    margin-bottom: 0;
    padding: 5px 0;
    display: none;
}
.aside .active dl{
    display: block;
}
.aside dl a{
    padding-left: 35px;
    display: block;
    height: 40px;
    line-height: 40px;
}
.aside dl a{
    color: #76B4FF;
    position: relative;
}
.aside dl .active a{
    color: #fff;
}
.aside dl .active a::after{
    color: #fff;
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: #0967D9;
    content: " ";
    left: 35px;
    bottom : 0;
}
.aside dl a:hover{
    text-decoration: none;
    color: #fff;
}

.footer{
    background-color: #022651;
    height: 80px;
    line-height: 80px;
    color: #fff;
    padding : 0 30px;
}
.footer a{
    color: #fff;
}
.footer .gap-1{
    margin-right: 60px;
}
.footer .gap-2{
    margin-right: 30px;
}
.main{
    background-color: #fff;
}
.content{
    float: right;
    width: 1110px;
    padding : 0 20px 0 45px;
}
.content-title {
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #ddd;
}
.content-title .text{
    font-size:24px;
    font-weight:bold;
    color:#333;
    position: relative;
    margin-right: 50%;
}
.content-title .line{
    position: absolute;
    width:44px;
    height:4px;
    background:#CC0807;
    bottom : 1px;
    left : 0;
}
.bread-crumb{
    color: #000;
}
.bread-crumb a , .bread-crumb span{
    color: #999;
}
.bread-crumb .gap{
    margin: 0 5px;
}
.content-container{
    padding : 20px 0 40px;
}
.news-list{
    margin-bottom: 20px;
}
.news-list a{
    display: block;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    overflow: hidden;
}
.news-list .t{
    font-size : 16px;
}
.news-list a:hover {
    padding : 0 15px;
    text-decoration: none;
    background-color: #fafafa;
}
.news-list .text-info{
    padding-left: 20px;
}
.news-list a:hover .t{
    color:#1069D5;
}
.tag{
    font-size: 12px;
    padding : 3px 10px;
    background-color: #ddd;
    margin-right: 5px;
    border-radius: 2px;
}
.tag-active{
    color: #fff;
    background-color: #7ED321;
}
.pagination{
    margin-top: 0 !important;
}
.pagination>li>a, .pagination>li>span{
    margin-right: 8px;
    border-radius: 2px ;
    padding : 4px 10px;
    border-color: #eee;
    color: #333;
}
.pagination>li .total{
    float: left;
    position: relative;
    margin-right: 16px;
    margin-left: 8px;
}
.pagination>li .total input{
    width:30px;
    height:30px;
    background:rgba(255,255,255,1);
    border-radius:2px;
    border:1px solid rgba(238,238,238,1);
    text-align: center;
}
.pagination>li a:hover{
    border : 1px solid #0967D9;
    color: #0967D9;
    background-color: #fff;
}
.pagination>li.disabled a{
    color: #999;
}
.pagination>li.active a{
    color: #fff;
    background-color: #0967D9;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.editor{
    line-height: 180%;
}
.editor p{
    margin-bottom: 18px;
}
.editor img{
    max-width: 98%;
}
.editor ul,.editor li{
    list-style: inherit;
}
.editor ul li{
    margin-left: 20px;
}
.editor ol li{
    margin-left: 0;
}
.leader-list{
    margin-left: -40px;
}
.leader-list li{
    width: 230px;
    float: left;
    margin-left: 40px;
    margin-bottom: 5px;
}
.leader-list .img{
    line-height: 300px;
    text-align: center;
}
.leader-list .img img{
    max-width: 230px;
    max-height: 300px;
}
.leader-list .name{
    margin: 15px 0 10px;
    width:54px;
    height:24px;
    font-size:18px;
    font-weight:bold;
}
.leader-list .info{
    height: 80px;
    line-height: 20px;
    overflow: hidden;
}
.year-plan-list {
    margin-left: -44px;
}
.year-plan-list li{
    width:230px;
    height:280px;
    float: left;
    margin-left: 42px;
    margin-bottom: 30px;
}
.year-plan-list li a{
    display: block;
    height:278px;
    width: 228px;
    padding : 0 30px;
    background:rgba(255,255,255,1);
    border:1px solid #ddd;
    float: left;
    text-align: center;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.year-plan-list li span{
    display: block;
}
.year-plan-list .year{
    margin-top: 50px;
    font-size:24px;
}
.year-plan-list .sub{
    height : 150px;
}
.year-plan-list li a:hover{
    margin-top: -5px;
    text-decoration: none;
    border-color:#bbb;
    box-shadow: 1px 1px 5px #ccc;
    margin-bottom: 35px;
}
.year-report-list .year{
    margin-top: 50px;
    margin-bottom: 5px;
    font-size:16px;
}
.year-report-list .sub{
    font-size:18px;
    font-weight:bold;
}
.year-plan-list li:hover a{
    text-decoration: none;
}
.history-list li{
    position: relative;
    min-height: 120px;
    padding-bottom: 30px;
}
.history-list li .info{
    width: 50%;
    text-align: right;
}
.history-list li .wrap{
    padding-right: 27px;
}
.history-list .line{
    width:2px;
    background-color: #134683;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    bottom :0;
    top : 0 ;
    z-index : 1;
}
.history-list li .pic{
    position: absolute;
    left : 50%;
    top : 0;
}
.history-list li .arrow{
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    background-color: #ddd;
    position: absolute;
    left : 23px;
    z-index: 1;
    top : 5px;
}
.history-list li .pic img{
    margin-left: 25px;
    max-width: 300px;
    max-height: 140px;
    border: 1px solid #ddd;
    padding : 2px;
    background-color: #fff;
    position: relative;
    z-index: 2;
}
.history-list li .text{
    color: #999;
}
.history-list li .icon-node{
    margin-left: -9px;
    position: absolute;
    left: 50%;
    z-index: 2;
    top : 1px;
}
.history-list .year {
    font-size:24px;
    font-weight: bold;
    margin-bottom: 15px;
}
.history-list .month {
    padding-bottom: 18px;
}
.history-list .month .t {
    font-size:16px;
}
.history-list li:nth-child(even) .info{
    margin-left: 50%;
    width: 50%;
    text-align: left;
}
.history-list li:nth-child(even) .wrap{
    padding-left: 27px;
}
.history-list li:nth-child(even) .pic{
    right : 50%;
    left : auto;
}
.history-list li:nth-child(even) .pic img{
    margin-right: 25px;
}
.history-list li:nth-child(even) .arrow{
    left : auto;
    right :  23px;
}

.history-list .now{
    position: relative;
    text-align: center;
    padding-bottom: 45px;
    font-size: 16px;
}
.history-list .now .icon-node-empty{
    bottom : 23px;
}
.history-list .now .line{
    top : auto;
    height: 30px;
    bottom :0;
}
.history-list .icon-node-empty{
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    border-radius: 50%;
    left : 50%;
    margin-left: -8px;
    z-index : 2;
    background-color: #fff;
}
.history-list .end{
    position: relative;
}
.about-img-view .views img{
    max-width: 100%;
    max-height: 382px;
}
.about-img-view .views{
    height: 382px;
    line-height: 382px;
    text-align: center;
}
.about-img-view .thumbs{
    margin: 10px 0 30px;
    font-size:0;
}
.about-img-view .thumbs a{
    display: inline-block;
    margin-right: 10px;
    font-size : 0;
}
.about-img-view .thumbs img{
    max-width:96px;
    max-height:54px;
    opacity: .7;
}
.about-img-view .thumbs .active img{
    opacity: 1;
}
.honor-list{
    margin-left: -12px;
}
.honor-list .item{
    float: left;
    width: 516px;
    margin-left: 12px;
}
.honor-list .title{
    padding : 20px;
    text-align: center;
    background-color: #F3F3F3;
    text-align: center;
}

.news-pager{
    border-top : 1px solid #ddd;
    padding-top: 10px;
}
.news-pager .item{
    width: 45%;
}
.news-pager .text-info{
    padding-bottom :5px;
}
.detail-title{
    background-color: #F1F1F1;
    border: 1px solid #ddd;
    padding : 15px 20px 10px;
}

.img-list-style-1 {
    margin-left: -18px;
}
.img-list-style-1 li{
    float: left;
    width:336px;
    margin-left: 18px;
    text-align: center;
    height:260px;
}
.img-list-style-1 .img{
    border: 1px solid #ddd;
    display: block;
    padding : 8px;
    height:205px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.img-list-style-1 .t{
    margin-top: 10px;
    display: block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size:16px;
}
.img-list-style-1 li:hover .img{
    margin-top: -5px;
    border-color: #bbb;
    box-shadow: 1px 1px 7px #bbb;
}

.img-list-style-1 img{
    max-width: 320px;
    min-height: 190px;
}

.theme-list {
    margin-left: -18px;
}
.theme-list li{
    float: left;
    width:336px;
    margin-left: 18px;
    text-align: center;
    height:340px;
}
.theme-list .img{
    border: 1px solid #ddd;
    display: block;
    padding : 8px;
    height:205px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.theme-list .t{
    margin-top: 10px;
    display: block;
    overflow:hidden;
    height:40px;
    line-height:20px;
    font-size:16px;
    text-align: left;
}
.theme-list a:hover{
    text-decoration: none;
}
.theme-list .date{
    background-color: #C1DDFF;
    height: 60px;
    line-height: 60px;
    padding : 0 15px;
    color: #134683;
    display: block;
    text-align: left;
}
.theme-list .date .primary{
    font-size: 32px;
    font-weight: bold;
}
.theme-list li:hover .img{
    margin-top: -10px;
    border-color: #bbb;
}

.theme-list img{
    max-width: 320px;
    min-height: 190px;
}
.site-tabs li{
    float: left;
    margin-right: 10px;
}
.site-tabs a{
    display: inline-block;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ddd;
    padding: 0 20px;
}
.site-tabs a:hover{
    text-decoration: none;
    border-color: #bbb;
}
.site-tabs .active a{
    background-color: #CC0807;
    border-color: #CC0807;
    color:#fff;
}
.site-tabs{
    margin-right: 10px;
}

.book-list li{
    width: 50%;
    padding-left: 166px;
    padding-right:30px ;
    float: left;
    box-sizing: border-box;
    height:230px;
    overflow: hidden;
}
.book-list .img{
    margin-left: -166px;
    border:1px solid #ddd;
    height: 175px;
    text-align: center;
    line-height: 175px;
    width: 145px;
    float: left;
    display: block;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.book-list .t a{
    font-size: 16px;
    font-weight: bold;
}
.book-list .sub{
    line-height: 170%;
}
.book-list .info{
    line-height: 20px;
    height: 80px;
    overflow: hidden;
}
.book-list .img img{
    max-height: 175px;
    max-width: 145px;
}
.book-list .img:hover{
    border-color: #bbb;
    box-shadow: 1px 1px 6px #ccc;
}
.book-show {
    overflow: hidden;
    padding-left: 310px;
    padding-bottom: 50px;
    padding-right: 20px;
    
}
.book-show .info{
    line-height: 180%;
}
.book-show .img{
    margin-left: -310px;
    float: left;
    width: 280px;
    height: 342px;
    line-height: 342px;
    text-align: center;
    border: 1px solid #ddd;
}
.book-show .img img{
    max-width: 260px;
    max-height: 340px;
}
.talk-list .dir{
    height: 26px;
    line-height: 26px;
    font-size: 0;
    vertical-align: middle;
}
.talk-list .dir span{
    vertical-align: middle;
    padding: 0 15px 0 10px;
    display: inline-block;
    background-color: #CC0807;
    color: #fff;
    font-size: 14px;
}
.talk-list .dir .arrow{
    vertical-align: middle;
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #CC0807;
}
.talk-list .dir.dir-past span{
    background-color: #bbb;
}
.talk-list .dir.dir-past .arrow{
    border-left: 10px solid #bbb;
}
.talk-list .item{
    line-height: 20px;
    padding-bottom: 8px;
}
.talk-list .title{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}
.talk-list li{
    padding-left: 215px;
    margin-bottom: 30px;
}
.talk-list li .wrap{
    padding-right: 30px;
    min-height: 227px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.talk-list .img{
    background-color: #F1F1F1;
    padding : 8px;
    width:186px;
    margin-left: -215px;
    float: left;
}
.talk-list .img img{
    max-width: 170px;
    min-height: 170px;
}
.talk-list .dir .arrow{
    /* width:0; 
    height:0; 
    border-top:12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #CC0807;
    display: inline-block; */
}
.media-views {
    height: 320px;
}
.media-views .views{
    float: left;
    width: 710px;
}
.media-views .view{
    width: 710px;
    height: 320px;
    position: relative;
    overflow: hidden;
}
.media-views .view .t{
    position: absolute;
    background: rgba(0,0,0,.5);
    left: 0;
    bottom : -60px;
    right: 0;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
    font-size: 16px;
    padding : 0 25px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.media-views .view:hover .t{
    bottom : 0px;
}
.media-views .view .icon-media{
    left: 50%;
    top: 50%;
    margin: -31px 0 0 -31px;
    z-index : 1;
    position: absolute;
    display: none;
}
.media-views .view:hover .icon-media{
    display: block;
}
.media-views .thumbs{
    float: right;
    width: 337px;
    margin-left: -2px;
    overflow: hidden;
}
.media-views .thumbs .img{
    width: 160px;
    height: 102px;
    line-height: 102px;
    float: left;
    text-align: center;
    position: relative;
    margin-left: 7px;
    margin-bottom: 7px;
    float: left;
}
.media-views .thumbs .img .shadow{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom : 0;
    z-index: 1;
    background: rgba(0,0,0,.5)
}
.media-views .thumbs .img.active .shadow{
    display: none;
}
.media-views .thumbs img{
    max-width: 160px;
    max-height: 102px;
}
.media-list{
    margin-left: -40px;
}
.media-list li{
    float: left;
    margin-left: 30px;
    width: 240px;
    height: 200px;
    
}
.media-list li .img{
    width: 240px;
    height: 135px;
    line-height: 135px;
    text-align: center;
    display: block;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.media-list li .img img{
    max-width: 240px;
    max-height: 135px;
}
.media-list li:hover .img{
    margin-top: -10px;
}
.media-list li .t{
    margin-top: 6px;
    height: 40px;
    line-height: 20px;
    display: block;
    overflow: hidden;
}
.question-list li .t{
    padding : 15px 0 ;
    font-size: 16px;
    display: block;
    border-bottom : 1px solid #ddd;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.question-list li .t:hover{
    text-decoration: none;
    background-color: #f1f1f1;
    padding: 15px 10px;
}
.question-list li.active .t{
    border: none;
}
.question-list li .answer{
    background-color: #D9E5F2;
    padding : 12px 20px;
    display: none;
    border : 1px solid #ddd;
}
.consult-tips{
    padding : 30px 20px;
    background-color: #F1F1F1;
    padding-left: 96px;
}
.consult-tips .icon-mark{
    float: left;
    margin-left: -76px;
    margin-top: -10px;
}
.table-consult tbody td{
    padding : 16px 8px !important;
    color:#999;
}
.table-consult thead tr th:first-child{
    padding-left: 0 !important;
}
.table-consult tbody tr td:first-child{
    padding-left: 0 !important;
    color: #333;
}
.table>thead>tr>th {
    border-bottom: 1px solid #ddd;
}
.table-bordered>thead>tr>th, .table-bordered>thead>tr>td{
    border-width: 1px;
}
.table-custom>thead>tr>th, .table-custom>thead>tr>td{
    border: none;
}
.table-custom td{
    border: 1px solid #ddd;
    padding : 25px 20px !important;
    vertical-align: middle !important;
}
.table-custom td a{
    color: #0967D9;
    text-decoration: underline;
}
.table-custom td a:first-child{
    margin-right: 20px;
}

.resource-theme-list{
    margin-left: -29px;
}
.resource-theme-list li{
    width: 150px;
    height: 240px;
    text-align: center;
    float: left;
    margin-left: 29px;
}
.resource-theme-list li .img{
    width: 150px;
    height: 180px;
    line-height: 180px;
    border: 1px solid #ddd;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    display: block;
}
.resource-theme-list li:hover .img{
    margin-top: -10px;
    border-color: #bbb;
    box-shadow: 1px 1px 7px #ccc;
}
.resource-theme-list li img{
    max-width: 140px;
    max-height: 170px;
}
.resource-theme-list li .t{
    margin-top: 8px;
    display: block;
    height: 40px;
    overflow: hidden;
    line-height: 20px;
}
.ebook-list li{
    width: 50%;
    float: left;
    padding-left: 220px;
    padding-right: 100px;
    margin-bottom: 40px;
}
.ebook-list li .img{
    margin-left: -220px;
    float: left;
}
.ebook-list li .img{
    border: 2px solid #f1f1f1;
    width: 200px;
    height: 250px;
    line-height: 250px;
    text-align: center;
}
.ebook-list li .t{
    height: 44px;
    line-height: 22px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
.ebook-list li .info{
    height: 100px;
    line-height: 20px;
}
.ebook-list li .img img{
    max-width: 240px;
    max-width: 190px;
}
.ebook-list li .type,.ebook-list li .size {
    color:#413122;
    height: 27px;
}
.btn{
    padding: 0 15px !important;
    height: 40px !important;
    line-height: 40px !important;
    border-radius: 0 !important;
    border: 1px solid #ddd !important;
    min-width: 120px;
}
.btn.btn-primary{
    background-color: #1069D5 !important;
    font-size: 16px !important;
}
.btn.btn-min{
    height: 30px !important;
    line-height: 30px !important;
    font-size: 14px !important;
    min-width: auto;
}
.input-group .btn{
    min-width: 80px;
    color: #1069D5;
    background-color: #ddd;
}

.table-editor thead{
    background-color: #eee !important;
}
.table-editor td,.table-editor th{
    border:1px solid #eee !important;
    padding : 10px 15px !important;
}

.site-tabs-content .panel{
    display: none;
}
.site-tabs-content .block{
    display: block;
}
.consult-form .label{
    font-weight: bold;
}
.consult-form .required{
    color: #ff4848;
    margin-top: -10px;
}
.form-control{
    border: 1px solid #ddd !important;
    padding: 7px 12px !important;
    height: 40px;
    border-radius: 0px !important;
    box-shadow: none !important;
}
.form-control-code{
    width: 180px;
    display: inline-block;
}
::-webkit-input-placeholder{
    color: #ccc !important;
}

.donate{
    margin-bottom: -40px;
}
.donate-left{
    border-right: 1px solid #ddd;
    padding-right: 30px;
    padding-bottom: 40px;
}
.donate-right{
    margin-left: -1px;
    border-left: 1px solid #ddd;
    padding-left: 20px;
    padding-bottom: 40px;
}
.donate-list li{
    padding-bottom: 10px;
    border-bottom : 1px solid #ddd;
}
.donate-list li .font-16{
    margin-bottom: 5px;
    margin-top: 10px;
}
.donate-list li:first-child .font-16{
    margin-top: 2px;
}
.user-question-list .t{
    font-size: 16px;
    padding : 9px 15px;
    background-color: #f5f5f5;
}
.user-question-list .text{
    padding : 10px 40px;
}
.user-question-list label{
    font-weight: normal;
}
.user-question-list .item{
    padding : 3px 0;
}
.user-question-list input[type="radio"],.user-question-list  input[type="checkbox"]{
    margin-top: -1px;
    vertical-align: middle;
}
.user-question-list .w700{
    width: 700px;
}
.tooltips{
    position: relative;
    display: inline-block;
}
.tooltips .control{
    line-height: 30px;
}
.tooltips i{
    font-style: normal;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #1069D5;
    border-radius: 50%;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #1069D5;
    position: relative;
}
.tooltips .wrap{
    background: #022651;
    padding : 10px 15px;
    width: 300px;
    color:#fff;
    position: absolute;
    left: 0;
    display: none;
}
.tooltips .arrow{
    width:0;
    height:0;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:6px solid black;
    position: absolute;
    top : 0;
    margin-top: -5px;
    left: 40px;
}
.net-img-views{
    height: 485px;
    position: relative;
}
.net-img-views .icon-pic-arrow-up{
    position: absolute;
    right : 0;
    top: 0;
}
.net-img-views .icon-pic-arrow-down{
    position: absolute;
    right : 0;
    bottom: 0;
}
.net-img-views .views{
    width: 820px;
    height: 485px;
    float: left;
}
.net-img-views .view{
    text-align: center;
    line-height: 485px;
}
.net-img-views .views img{
    max-width: 820px;
    max-height: 485px;
}
.net-img-views .thumbs{
    margin-top: 42px;
    width:220px;
    height: 400px;
    float: right;
}
.net-img-views .thumb{
    text-align: center;
    line-height: 130px;
    height: 130px;
}
.net-img-views .thumb img{
    max-width: 220px;
    max-height: 130px;
}
.modal-tips{
    background-color: #022651;
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    color: #fff;
    z-index: 10;
    
}
.modal-tips .wrap{
    padding : 20px;
    border-bottom: 1px solid #01397C;
}
.global-modal .shadow{
    position: fixed;
    left: 0;
    right :0;
    top: 0;
    bottom: 0;
    z-index: 9;
}
.modal-tips .button{
    text-align: center;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
}
.modal-tips .button:hover{
    text-decoration: none;
}
.full-page-item .wrap{
    width: 1140px;
    margin: 0 auto;
    position: relative;
    top: 50%;
}
.full-page-item{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.full-1{
    background: url('../images/full/full-1.jpg') center center no-repeat;
}
.full-2{
    background: url('../images/full/full-2.jpg') center center no-repeat;
}
.full-3{
    background: url('../images/full/full-3.jpg') center center no-repeat;
}
.full-4{
    background: url('../images/full/full-4.jpg') center center no-repeat;
}
.full-5{
    background: url('../images/full/full-5.jpg') center center no-repeat;
}
.full-1 .wrap{
    margin-top: -140px;
}
.full-page-item .wrap-page-1{
    width: 802px;
}
.page-item-absolute{
    position: absolute;
    width: 100%;
}
.home-navigation{
    top: 154px;
}
.global-scroll{
    position: fixed;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    text-align: center;
    bottom : 30px;
    color: #fff;
}



.home-ele-guide{
    margin-left: -20px;
}
.home-ele-guide li {
    padding-left: 20px;
    float: left;
    width: 25%;
    line-height: 80px;
    height: 80px;
    margin-bottom: 20px;
}
.home-ele-guide li a{
    color: #fff;
    font-size: 18px;
    display: block;
    height: 80px;
    background:rgba(0,33,73,.8);
    border-radius:4px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.home-ele-guide li a:hover{
    text-decoration: none;
    background:rgba(0,33,73,1);
    box-shadow: 0 0 5px #002149;
}
.home-ele-guide li .icon{
    margin-right: 40px;
    margin-left: 30px;
}
.home-ele-rows{
    height: 125px;
}
.home-ele-rows{
    margin-left: -22px;
    color: #fff;
}
.home-ele-rows .md{
    padding-left: 22px;
    float: left;
    width: 33.33333%;
}
.home-ele-rows .md .wrap{
    background-color: #0967D9;
    height: 125px;
    padding : 12px 18px;
    overflow: hidden;
    border-radius:4px;
}
.home-ele-rows .md .item{
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}
.home-ele-rows .item strong{
    color: #FFC601;
    font-size: 28px;
    margin-right: 5px;
}
.home-ele-rows .link{
    padding-left: 30px;
}
.home-ele-rows .link li{
    float: left;
    padding-right: 20px;
    width: 50%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    height: 20px;
    line-height: 20px;
}
.home-ele-rows .link li a{
    color: #fff;
}
.home-ele-rows .link i{
    width:4px;
    height:4px;
    background-color: #fff;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.home-ele-address{
    height: 284px;
    background:rgba(9,103,217,.95);
    border-radius:4px;
    color: #fff;
}
.home-ele-address .distribute{
    width: 642px;
    padding: 40px 10px 0 60px;
}
.home-ele-address .t strong{
    font-size: 24px;
}
.home-ele-address a{
    color: #fff;
}
.home-ele-address li{
    height: 45px;
}
.home-ele-address li i{
    font-style: normal;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    color: #0967D9;
    margin-right: 20px;
}
.home-ele-address .distribute ul{
    width: 47%;
    float: left;
}
.home-ele-address .distribute ul:first-child{
    width: 53%;
}

.home-ele-address .img{
    position: relative;
    width: 498px;
    height: 284px;
}
.home-ele-address .img img{
    position: absolute;
    bottom : 0;
    left : 30px;
}

.home-about {
    height: 343px;
    padding-left: 732px;
    background-color: #fff;
    border-radius: 4px;
}
.home-about .img{
    float: left;
    margin-left: -732px;
}
.home-about .right{
    padding : 20px 20px 10px;
}
.home-about .text{
    height: 240px;
    line-height: 24px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
}
.home-about .more{
    color: #1069D5;
}
.home-about-guide {
    background-color: #fff;
    border-radius: 4px;
}
.home-about-guide li {
    float: left;
    width: 16.6666666667%;
    height: 130px;
    text-align: center;
}
.home-about-guide li a{
    padding-top: 25px;
    display: block;
    height: 130px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.home-about-guide li a:hover{
    background-color: #f4f4f4;
    text-decoration: none;
}
.home-about-guide li i{
    display: block;
    margin: 0 auto 15px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.home-about-guide li:hover i{
    margin-top: -10px;
}
.full-page-item .box-title{
    padding: 0 15px;
    height:50px;
    line-height: 50px;
    box-shadow:0px 1px 0px 0px #ddd;
}

.home-theme{
    background-color: #fff;
    border-radius: 4px;
    width: 560px;
    height: 360px;
}
.home-theme .img{
    width: 560px;
    height: 310px;
    line-height: 310px;
    text-align: center;
    display: block;
}
.home-theme .img:hover{
    text-decoration: none;
    color: #fff;
}
.home-theme .img img{
    max-width: 560px;
    max-height: 310px;
}
.home-theme .theme-title{
    display: block;
    margin-top: -40px;
    line-height: 40px;
    padding: 0 20px;
    color: #fff;
    text-align: left;
    
}
.home-theme .img:hover .theme-title{
    color: #fff;
}
.home-book-ranking{
    background-color: #fff;
    border-radius: 4px;
    width: 560px;
    height: 360px;
}
.home-book-ranking .item{
    width: 50%;
    float: left;
    height: 310px;
}
.home-book-ranking .item li{
    padding : 0 10px;
    height: 32px;
    line-height: 32px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.home-book-ranking .list{
    padding: 10px 10px;
}
.home-book-ranking .list .text-info{
    float: right;
}
.home-book-ranking .list li a{
    font-weight: bold;
}
.home-book-ranking .list li:hover{
    background-color: #f5f5f5;
}
.home-book-ranking .list li:first-child a{
    color: #CC0807;
}
.home-book-ranking .list li:nth-child(2) a{
    color: #F5A623;
}
.home-book-ranking .list li:nth-child(3) a{
    color: #DDCC00;
}
.home-book-new{
    width:850px;
    height:195px;
    background:#fff;
    border-radius:4px;
    padding-left: 45px;
}
.home-book-new .book-title{
    background-color: #0967D9;
    width:45px;
    height:195px;
    padding : 0 10px;
    color: #fff;
    padding-top: 30px;
    text-align: center;
    margin-left: -45px;
    float: left;
}
.home-book-new .list li{
    padding-right: 10px;
    width: 33.33%;
    float: left;
    padding-left: 120px;
}
.home-book-new .list li .img{
    width: 110px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    display: block;
    margin-left: -120px;
    float: left;
}
.home-book-new .list li .text{
    font-size: 12px;
}
.home-book-new .list {
    padding-top: 22px;
}
.home-book-new .list li img{
    max-width: 110px;
    max-height: 140px;
}
.home-book-new .list li .t{
    font-size: 16px;
}
.home-document{
    width:274px;
    height:195px;
    background:rgba(255,255,255,1);
    border-radius:4px;
    padding : 15px 20px;
}
.home-document li{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    height: 20px;
    line-height: 20px;
    margin-bottom: 8px;
}
.home-document li i{
    display: inline-block;
    width:4px;
    height:4px;
    background:#ddd;
    
}
.home-video {
    height: 195px;
}
.home-video .left{
    border-right:1px solid #ddd;
    width: 700px;
    float: left;
    height: 195px;
    background-color: #fff;
    border-radius: 4px 0 0 0 ;
}
.home-video .right{
    width: 438px;
    float: left;
    height: 195px;
    background-color: #fff;
    border-radius:0 4px 0 0 ;
}
.home-video .item{
    width: 195px;
    height: 108px;
    line-height: 108px;
    float: left;
    margin: 0 8px;
    text-align: center;
}
.home-video .item img{
    border-radius: 4px;
    max-width: 195px;
    max-height: 108px;
}
.home-video .left .list{
    padding-top: 18px;
    padding-left: 15px;
    margin: 0 15px;
    height: 108px;
    position: relative;
}
.home-video .left .icon-swiper-arrow-left , .home-video .left .icon-swiper-arrow-right{
    position: absolute;
    top : 22px;
    left : 0;
}
.home-video .left .icon-swiper-arrow-right{
    left : auto;
    right : 0;
}
.home-video .right .list{
    padding: 18px 0 0 8px;
    height: 108px;
}
.home-video .right .item{
    position: relative;
}
.home-video .right .item .icon{
    position: absolute;
    margin-left: -17.5px;
    margin-top: -17.5px;
    left: 50%;
    top: 50px;
}
.home-notice-thumbs{
    width:771px;
    height:360px;
    background: #fff;
    border-radius:4px;
}
.home-notice-thumbs .item{
    float: left;
    width: 235px;
    margin: 0 9px;
}
.home-notice-thumbs .img a{
    height: 130px;
    line-height: 130px;
    display: block;
    text-align: center;
}
.home-notice-thumbs .img img{
    max-height: 130px;
    max-width: 235px;
}
.home-notice-thumbs .item-title{
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    margin: 10px 0;
}
.home-notice-thumbs .sub{
    height: 54px;
    line-height: 18px;
    font-size: 12px;
    margin-bottom: 10px;
}
.home-notice-thumbs .list{
    padding: 16px 0 0 7px;
}
.home-notice-thumbs .btn-custom{
    padding: 0px 15px !important;
    min-width: 100px !important;
    height:30px !important;
    line-height:30px !important;
    background-color: #fff !important;
    border-radius:4px !important;
    color: #0967D9;
    border:1px solid #0967D9 !important;
}
.home-notice-thumbs .btn-custom:hover{
    background-color: #f1f1f1 !important;
}

.home-calendar{
    width:353px;
    height:360px;
    background:#fff;
    border-radius:4px;
}
.home-calendar .calendar-title{
    border-radius:4px 4px 0 0;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    color: #fff;
    background-color: #0967D9;
}
.home-calendar .calendar-title strong{
    font-size: 24px;
}
.calendar-list {
    padding: 15px 0 0 12px;
    font-size: 12px;
}
.calendar-list .item{
    padding: 5px;
    margin: 1px;
    width: 45px;
    float: left;
    height: 45px;
    background-color: #F1F1F1;
}
.calendar-list .item a{
    padding: 5px;
    display: block;
    height: 45px;
    margin: -5px;
}
.calendar-list .item a:hover{
    text-decoration: none;
    background-color: #e1e1e1;
}
.calendar-list .item .icon{
    float: right;
}
.calendar-list .list-header .item{
    padding: 0;
    background: none;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.calendar-list .item-disabled{
    color: #bbb;
}
.calendar-list .item-today{
    color: #0967D9;
}


.home-notice{
    background:rgba(0,0,0,.4);
    border-radius:0px 0px 4px 4px;
}
.home-notice .item{
    padding: 0 15px;
    line-height: 40px;
    height:40px;
    color: #5BDEFF;
}
.home-notice a{
    color: #fff;
}
.home-notice .text{
    display: inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    max-width: 600px;
    vertical-align: middle;
}
.home-notice a.more{
    color: #5BDEFF;
}
.home-search-bar .tabs-content{
    padding: 10px;
    background:rgba(255,255,255,.4);
    border-radius:0px 4px 0px 0px;
}
.home-search-bar .tabs a{
    min-width:131px;
    height:34px;
    text-align: center;
    line-height: 34px;
    background:linear-gradient(180deg,rgba(255,255,255,0.67) 0%,rgba(255,255,255,0.4) 100%);
    border-radius:4px 4px 0px 0px;
    display: inline-block;
    color: #fff;
}

.home-search-bar .tabs a.active,.home-search-bar .tabs a:hover{
    background:linear-gradient(180deg,rgba(255,255,255,0.67) 0%,rgba(255,255,255,0.4) 100%);
    color: #0967D9;
    text-decoration: none;
}
.home-search-bar .tabs-content .input-group .btn-default{
    width:100px !important;
    height:40px !important;
    background:rgba(9,103,217,1) !important;
    border-radius:0px 2px 2px 0px !important;
    color: #fff !important;
}
.home-search-bar .item{
    float: left;
    height: 40px;
}
.home-search-bar .item{
    width: 15%;
}
.home-search-bar .item:last-child{
    width: 70%;
}
.home-search-bar .bootstrap-select > select.mobile-device:focus + .dropdown-toggle,.home-search-bar .bootstrap-select .dropdown-toggle:focus{
    outline:none !important;
}
.bootstrap-select .btn-default:hover,.bootstrap-select .btn-default:active,.bootstrap-select .btn-default:focus{
    outline: 0 !important;
    outline: none !important;
    background-color: #fff !important;
}
.bootstrap-select .btn{
    min-width:  90px !important;
}
.open>.dropdown-toggle.btn-default{
    background-color: #fff !important;
}
.open>.dropdown-toggle.btn-default:link{
    background-color: #fff !important;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
    color: #333 !important;
}
.bootstrap-select .dropdown-menu li a{
    padding: 8px 15px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
    background-color: #0967D9;
}
.bs-caret{
    color: #bbb !important;
}

