/* font icon */
html{
	background: #fff;
}
body{
	color: #413122;
	background: #fff;
	font-size: .373333rem !important;
	font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
}
a{
	color:#413122;
}

a:link,a:visited,a:hover,a:active{
    text-decoration: none;
}
.link-focus:active{
	background-color: #eee;
}
.text-primary{
	color: #413122 !important;
}
.text-info{
	color: #82766a;
}
.text-ellipsis{
	overflow:hidden;
	text-overflow:ellipsis; 
	white-space: nowrap;
}
.pull-right{
	float: right;
}
.mb5{
	margin-bottom :.133333rem;
}
.mb10{
	margin-bottom : .266667rem;
}
.mb15{
	margin-bottom : .4rem;
}
.mb20{
	margin-bottom : .533333rem;
}
.wimg{
	width : 100%;
}
.hidden{
	display: none;
}
.max-img{
	width: 100%;
    display: block;
    font-size: 0;

}
.header{
	height:1.6rem;
	background-color: #fff;
	position: fixed;
	left: 0;
	right:0;
	top:0;
	z-index:1003;
}
.nav .bg{
	opacity: 0.4;
	background-color: #000000;
	position: fixed;
	top:1.6rem;
	left: 0;
	right:0;
	bottom:0;
	z-index:1001;
}
.nav .wrap{
	background: url('../images/bg-home-header.png') left top repeat-x;
	background-color: #413122;
	top:1.6rem;
	position: fixed;
	left: 0;
	right:0;
	bottom : 0;
	padding: .75rem 0 .4rem;
	z-index:10001;
}
.nav li{
}
.nav li a{
	display: block;
	line-height: 1.30rem;
	font-size: .426667rem;
	color: #f0e5d4;
	padding-left: .8rem;
}
.nav li.active>a{
	color: #f2cf9a;
}
.nav li.active .active a{
	color: #f2cf9a;
}
.nav li.active>a span{
	border-bottom: .05rem solid #f2cf9a;
	padding-bottom: .3rem;
}
.nav li .icon-plus{
	margin-top: .5rem;
	margin-right: .6rem;
}
.nav .sub{
	display: none;
	padding-left: .8rem;
}
.nav .sub .item{
	border-left : 1px solid #fff;
}
.nav .sub a{
	font-size: .373333rem;
}
.logo img{
	margin-top: .3rem;
	height: 1.066667rem;
}
.logo {
	text-align: center;
	padding-left: 1.6rem;
}
.header .bar{
	float: right;
	width: 1.6rem;
	line-height: 1.6rem;
	height: 1.6rem;
	text-align: center;
}
.header .back{
	position: absolute;
	left: 0;
	display: block;
	width:  1.6rem;
	height:  1.6rem;
	line-height: 1.6rem;
	text-align: center;
}
.header-height{
	height:1.6rem;
}
.home-banner .banner{
	width: 100%;
}
.home-banner{
	position: relative;
}
.home-search{
	background: rgba(0, 0, 0, .3);
	border-radius: 4px;
	position: absolute;
	left: .426667rem;
	right: .426667rem;
	padding: .426667rem;
	top:50%;
	transform: translate(0,-50%)
}
.sub-nav{
	position: relative;
	color: #fff;
	padding-bottom: 1rem;
	overflow: hidden;
}
.sub-nav .angle{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right: -100%;
	background: #2f5e89;
	transform: rotate(-9deg);
	transform-origin:0% 100%; 
}
.sub-nav .t,.sub-nav .wrap,.sub-nav .more{
	position: relative;
	
}
.sub-nav .wrap{
	padding: .533333rem .533333rem 0;
}
.sub-nav .t{
	font-size: .64rem;
	font-weight: bold;
	padding: .533333rem .533333rem 0;
}
.sub-nav .t .en{
	font-size: .48rem;
	margin-top: .133333rem;
}
.sub-nav .t{
	font-size: .64rem;
}
.sub-nav .wrap .active a{
	color: #5cc185;
}
.sub-nav .wrap a{
	display: block;
	padding: .25rem 0;
	color: #fff;
}
.sub-nav .more{
	text-align: center;
}
.sub-nav .more a{
	display: inline-block;
	padding : .213333rem;
}

/***图标***/
.icon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -2px;
}
.icon-rule{
    width : 27px;
	height : 32px;
	background: url('../images/icon/icon-rule.svg') left top no-repeat;
}
.icon-call{
    width : 33px;
	height : 32px;
	background: url('../images/icon/icon-call.svg') left top no-repeat;
}
.icon-card{
    width : 38px;
	height : 28px;
	background: url('../images/icon/icon-card.svg') left top no-repeat;
}
.icon-traffic{
    width : 30px;
	height : 36px;
	background: url('../images/icon/icon-traffic.svg') left top no-repeat;
}
.icon-time{
    width : .96rem;
	height :  .96rem;
	background: url('../images/icon/icon-time.svg') left top no-repeat;
	background-size: .96rem  .96rem;
}
.icon-pc{
    width : 3.146667rem;
	height :  3.146667rem;
	background: url('../images/icon/icon-pc.svg') left top no-repeat;
	background-size: 3.146667rem 3.146667rem;
}
.icon-question{
    width : 34px;
	height : 30px;
	background: url('../images/icon/icon-question.svg') left top no-repeat;
}
.icon-search{
    width: 20px;
    height: 20px;
	background: url('../images/icon/icon-search.svg') left top no-repeat;
}
.icon-my{
    width: 13px;
    height: 16px;
    background: url('../images/icon/icon-my.svg') left top no-repeat;
}
.icon-more{
    width: 26px;
    height: 11px;
    background: url('../images/icon/icon-more.svg') left top no-repeat;
}
.icon-file{
    width: 12px;
    height: 11px;
    background: url('../images/icon/icon-file.svg') left top no-repeat;
}
.icon-plus{
    width: .373333rem;
    height:  .373333rem;
    margin-right: 0;
	background: url('../images/icon/icon-plus.svg') left top no-repeat;
	background-size: .373333rem .373333rem;
	-webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.icon-plus-active{
	transform: rotate(45deg)
}
.icon-bus{
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0;
	background: url('../images/icon/icon-bus.svg') left top no-repeat;
	background-size: 100% 100%;
}
.icon-metro{
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0;
	background: url('../images/icon/icon-metro.svg') left top no-repeat;
	background-size: 100% 100%;
}
.icon-tips{
    width: 62px;
    height: 40px;
    margin-right: 0;
    background: url('../images/icon/icon-tips.svg') left top no-repeat;
}
.icon-comment{
    width: 50px;
    height: 48px;
    background: url('../images/icon/icon-comment.svg') left top no-repeat;
}
.icon-comment-empty{
    width: 92px;
    height: 52px;
    background: url('../images/icon/icon-comment-empty.svg') left top no-repeat;
}
.icon-clock{
    width: 20px;
    height: 20px;
    background: url('../images/icon/icon-clock.svg') left top no-repeat;
}
.icon-404{
    width: 262px;
    height: 262px;
    margin-right: 0;
    background: url('../images/icon/icon-404.svg') left top no-repeat;
}
.icon-closed{
    width: 52px;
    height: 52px;
    background: url('../images/icon/icon-closed.svg') left top no-repeat;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-right: 0;
}
.icon-closed-min{
    width: 30px;
    height: 30px;
    background: url('../images/icon/icon-closed.svg') left top no-repeat;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-right: 0;
    background-size: 30px 30px;
}
.icon-prev{
    width: 40px;
    height: 40px;
    background: #f2cf9a url('../images/icon/icon-prev.svg') center center no-repeat;
}
.icon-next{
    width: 40px;
    height: 40px;
    background: #f2cf9a url('../images/icon/icon-prev.svg') center center no-repeat;
    transform: rotate(180deg)
}
.icon-prev:hover,.icon-next:hover{
    background-color: #fdbd5c;
}

.icon-prev-lg{
    width: 50px;
    height: 50px;
    background: #f2cf9a url('../images/icon/icon-prev-lg.svg') center center no-repeat;
}
.icon-next-lg{
    width: 50px;
    height: 50px;
    background: #f2cf9a url('../images/icon/icon-prev-lg.svg') center center no-repeat;
    transform: rotate(180deg)
}
.icon-prev-lg:hover,.icon-next-lg:hover{
    background-color: #413122;
}

.icon-closed:hover{
    transform: rotate(180deg);
}
.icon-arrow-up{
    width: 10px;
    height: 6px;
    background: url('../images/icon/icon-arrow-up.svg') center center no-repeat;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-right: 0;
}
.icon-arrow-down{
    transform: rotate(180deg);
}
.icon-closed-primary{
	width: .373333rem;
    height:  .373333rem;
    margin-right: 0;
	background: url('../images/icon/icon-plus.svg') left top no-repeat;
	background-size: .373333rem .373333rem;
	transform: rotate(45deg)
}
.icon-dir{
	width: .4rem;
	height:.373333rem;
	margin-right: 0;
	background-size: 100% 100%;
	background-image: url('../images/icon/icon-dir.svg');
}
.icon-back{
    width: .346667rem;
	height: .56rem;
	margin-right: 0;
    background: url('../images/icon/icon-back.svg') center center no-repeat;
}


.icon-square{
    width: 5px;
    height: 5px;
    background-color: #82766a;
}

/**guide***/
.home,.news-talk{
	background: #f0e5d4;
}
.home-guide ul{
	display: flex;
}
.home-guide li{
	padding : .6rem 0 .4rem;
	flex: 1;
	text-align: center;
	background-color: #fff;
	border-bottom : 1px solid #f0e5d4;
	border-right : 1px solid #f0e5d4;
}
.home-guide ul li:last-child{
	border-right : none;
}
.home-guide ul:last-child li{
	border-bottom : none;
}
.home-guide .wrap{
	margin: 0 auto;
	display: block;
	margin-bottom: .4rem;
	height: 1.066667rem;
	line-height: 1.066667rem;
}
.home-guide a{
	display: block;
}
.home-guide .icon{
	margin-right: 0;
}
.home-swiper .box{
	color:#fff;
	padding :.186667rem;
	background-color: #886938;
}
.home-swiper .wrap{
	border: solid 1px #ffffff;
	padding : .5rem .8rem;
	opacity: 0.9;
	line-height: 140%;
}
.home-swiper .title{
	font-weight: bold;
	font-size: 18px;
	margin-bottom: .18rem;
}
.home-swiper .detail{
	font-size: 12px;
}
.home-swiper{
	position: relative;
}
.banner-decoration{
	background: url('../images/bg-home-header.png') left top repeat-x;
	position: absolute;
	top:0;
	height: .4rem;
	width: 100%;
	z-index : 1000;
	opacity: .15;
}
.home-swiper .swiper-pagination{
	position: absolute;
	text-align: center;
	width: 100%;
	top: 3.4rem;
}














/******footer*******/

.footer {
	color:#f0e5d4;
	background-color: #413122;
	text-align: center;
	font-size: .426667rem;
}
.footer a{
	color:#f0e5d4;
}
.footer .guide-list a{
	display: block;
	height: 1.333333rem;
	line-height: 1.333333rem;
	box-sizing: border-box;
	border-bottom: .026667rem solid #33261a;
}
.footer .copyright{
	padding:.8rem 0;
}
.footer .qr{
	padding:.8rem 0 .5rem;
	font-size: .32rem;
}
.footer .qr img{
	display: block;
	margin: 0 auto;
	width: 2.666667rem;
}

.more {
	margin: 0 auto;
	width: 5.333333rem;
	height: 1.066667rem;
	line-height: 1.066667rem;
	border: solid 1px #f0e5d4;
	text-align: center;
	margin-top: .4rem;
}
.more a{
	color:#413122;
}
.md{
	padding : .533333rem .4rem;
	background-color: #fff;
	margin-top: .266667rem;
}
.md-title .line{
	width: .106667rem;
	height: .533333rem;
	background-color: #f2cf9a;
	display: inline-block;
	vertical-align: bottom;
}
.md-title{
	font-weight: bold;
	font-size: .48rem;
	line-height: .533333rem;
}
.index-theme-list li{
	padding: .5rem 0 0;
}
.index-theme-list li .info{
	padding-bottom: .5rem;
}
.index-theme-list li .line{
	
	height: 1px;
	overflow: hidden;
	background-color: #f0e5d4;
	margin: 0 -.4rem;
}
.index-theme-list li:last-child .line{
	height: 0;
}
.index-theme-list li .title{
	font-size: .426667rem;
}
.index-theme-list li .date{
	margin: .2rem 0;
}
.index-news-list {
	margin-top: .4rem;
}
.index-news-list li{
	padding :.2rem 0;
}
.index-news-list li .date{
	padding-left: .8rem;
}
.title-content{
	font-size: .48rem;
	font-weight: bold;
}
p{
	margin-bottom: .6rem;
}
.title-content{
	padding : .5rem .533333rem;
}
.content{
	padding : .533333rem .533333rem .533333rem;
	background-color: #fff;
}
.page-title{
	padding : .5rem .533333rem;
	font-size: .48rem;
	font-weight: bold;
	color: #82766a;
	background: #f5f2ef;
}
.page-title .wrap{
	padding-bottom: .6rem;
	background: url('../images/bg-page-title.png') left bottom repeat-x;
}
.page-title .sub{
	margin-top: .266667rem;
	color: #82766a;
	font-weight: normal;
	font-size: .373333rem;
}
.news-list{
	margin-top: -.266667rem;
}
.news-list li a{
	display: flex;
	padding : .3rem 0;
	border-bottom : 1px solid #eae6e1;
}
.news-list li:last-child a{
	border-bottom : none;
}
.news-list li .date{
	margin-right: .6rem;
}
.news-list li .title{
	flex: 1;
}
.page-more{
	border-top : 1px solid #eae6e1;
	text-align: center;
	padding :.4rem 0;
	margin-top: -0.5rem;
}
.book-commend-list{
	overflow: hidden;
}
.book-commend-list li{
    width: 47%; 
	float: left;
	margin-bottom: .8rem;
}
.book-commend-list .title{
	height: 1.066667rem;
	line-height: .533333rem;
	overflow: hidden;
	margin-top: .266667rem;
}
.book-commend-list .img{
	padding : .5rem .266667rem;
	border: solid 1px #82766a;
	box-sizing: border-box;
}
.book-commend-list li:nth-child(odd){
	margin-right: 3%;
}
.book-commend-list li:nth-child(even){
	margin-left: 3%;
}
.book-commend-list .img img{
    width: 100%;
    overflow: hidden;
}
.book-commend-header{
	display: flex;
	margin-bottom: .533333rem;
}
.book-commend-header .img{
	padding : .5rem .266667rem;
	border: solid 1px #82766a;
	box-sizing: border-box;
	width: 4rem;
	margin-right: .4rem;
}
.book-commend-header .img img{
    width: 100%;
    overflow: hidden;
}
.book-commend-header .info{
	flex: 1;
}
.book-commend-header .title{
	font-weight: bold;
	font-size: .426667rem;
	margin-bottom: .266667rem;
}
.book-commend-header .item{
	margin-bottom: .266667rem;
}
.text-center{
	text-align: center;
}
.btn {
	min-width: 2.666667rem;
	height: 1.066667rem;
	background-color: #ffffff;
	border: solid 1px #413122;
	display: inline-block;
	box-sizing: border-box;
	line-height: 1rem;
	font-size: .426667rem;
	margin: 0 .1rem;
	text-align: center;
}
.btn-primary{
	background-color: #82766a;
	color: #fff;
}
.btn-lg{
	height: 1.333333rem;
	line-height: 1.2rem;
	margin: 0;
	min-width: 100%;
}
.book-commend-btns{
	margin: .8rem 0;
}
.book-commend-detail{
	height:2rem;
	overflow: hidden;
}
.book-commend-detail.auto{
	height: auto;
}
.fixed-bottom{
	position: fixed;
	bottom:0;
	left:0;
	right:0;
}

.news-talk-header{
	padding-top: .15rem;
}
.news-talk-header .info{
	padding :.533333rem 0 0;
}

.talk-list li{
    margin-top: .8rem;
}
.talk-list li:first-child{
    margin-top: .5rem;
}
.talk-list a{
    display: block;

}
.talk-list a:hover{
    text-decoration: none;
}
.talk-list a:active,.talk-list a:link,.talk-list a:focus,.talk-list a:visited{
    color: #fff;
}
.talk-list .img{
    position: relative;
}
.talk-list .time{
    position: absolute;
    bottom:0;
    right:-0.4rem;
    background-color: #413122;
    color:#fff;
    width: 3.2rem;
    height: 1.066667rem;
    line-height: 1.066667rem;
    text-align: center;
}
.talk-list .info{
    background-color: #82766a;
    padding : .6rem .533333rem;
    color:#fff;
    line-height: 160%;
}
.talk-list .title{
	font-size: .533333rem;
	margin-bottom: .266667rem;
}
.talk-list .line{
    background-color: #82766a;
    height: 1px;
    margin: .133333rem .026667rem;
}
.md-title .select{
	margin-top: -.2rem;
}
.select{
	color:#82766a;
	border: solid 1px #82766a;
	font-size: .373333rem;
	padding : .2rem .5rem;
}
.resource{
	padding : .8rem 0 0;
	line-height: 160%;
}
.resource .icon{
	margin-bottom: .5rem;
}
.address-list li{
	margin-top: .1rem;
	margin-bottom: 1.1rem;
}
.address-list .wrap{
	margin-bottom: .35rem;
	display: flex;
	font-size: .426667rem;
	justify-content: center;
    align-items: center;
}
.address-list .info{
	flex :1;
	line-height: 200%;
}
.address-list .avatar{
	margin-right: .4rem;
}
.fixed-bottom-height-map{
	height: 4.3rem;
}